body {
    background-color: #6B8CFC;
}

#logo {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -176px;
    margin-left: -352px;
    z-index: 99;
}

#play-button {
    display: block;
    margin: 0 auto;
}