/* SMB NES font */

@font-face {
    font-family: "SMB NES";
    src: url("fonts/super-mario-bros-nes.ttf") format("truetype");
}

/* General style */

body {
    background-color: #6B8CFC;
    font-family: 'SMB NES', Arial, sans-serif;
    color: #FFFFFF;
    font-size: 24px;
}

/* Absolute-positioned elements */

#logo {
    position: absolute;
    top: 35%;
    left: 50%;
    margin-top: -176px;
    margin-left: -352px;
    z-index: 99;
}

#trivia-container {
    display: none;
    position: absolute;
    top: 35%;
    left: 50%;
    margin-top: -176px;
    margin-left: -352px;
    z-index: 99;
}

#question-tracker {
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 99;
}

#timer {
    position: absolute;
    top: 16px;
    right: 16px;
    text-align: right;
    z-index: 99;
}

#cloud1 {
    position: absolute;
    left: 10%;
    top: 35%;
}

#cloud2 {
    position: absolute;
    left: 80%;
    top: 60%;
}

#cloud3 {
    position: absolute;
    left: 70%;
    top: 15%;
}

#mario {
    position: absolute;
    bottom: 64px;
    left: 64px;
}

#flagpole-up {
    position: absolute;
    bottom: 64px;
    right: 64px;
}

#flagpole-down {
    display: none;
    position: absolute;
    bottom: 64px;
    right: 64px;
}

footer {
    position: absolute;
    bottom: 0;
    height: 64px;
    width: 100%;
    background-image: url(../images/sprites/block.png);
}

/* Play button */

#play-button {
    display: block;
    margin: 0 auto;
}