/* SMB NES FONT */

@font-face {
    font-family: "SMB NES";
    src: url("fonts/super-mario-bros-nes.ttf") format("truetype");
}

/* GENERAL STYLE */

body {
    background-color: #6B8CFC;
    font-family: 'SMB NES', Arial, sans-serif;
    color: #FFFFFF;
    font-size: 24px;
}

/* DISPLAY STYLE */

.hidden {
    display: none;
}

/* ABSOLUTE-POSITIONED ELEMENTS */

#logo {
    position: absolute;
    top: 35%;
    left: 50%;
    margin-top: -176px;
    margin-left: -352px;
    z-index: 99;
}

#trivia-container {
    position: absolute;
    top: 35%;
    left: 50%;
    margin-top: -176px;
    margin-left: -352px;
    z-index: 99;
}

#press-enter {
    position: absolute;
    top: 35%;
    left: 50%;
    margin-top: 224px;
    margin-left: -132px;
}

#question-tracker {
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 99;
}

#timer {
    position: absolute;
    top: 16px;
    right: 16px;
    text-align: right;
    z-index: 99;
}

#cloud1 {
    position: absolute;
    left: 10%;
    top: 35%;
}

#cloud2 {
    position: absolute;
    left: 70%;
    top: 10%;
}

#cloud3 {
    position: absolute;
    left: 75%;
    top: 50%;
}

#mario {
    position: absolute;
    bottom: 64px;
    left: 5%;
}

#flagpole-up {
    position: absolute;
    bottom: 64px;
    right: 5%;
}

#flagpole-down {
    position: absolute;
    bottom: 64px;
    right: 5%;
}

#floor {
    position: absolute;
    bottom: 0;
    height: 64px;
    width: 100%;
    background-image: url(../images/sprites/block.png);
}