@font-face {
  font-family: "SMB NES";
  src: url("fonts/super-mario-bros-nes.ttf") format("truetype");
}

body {
  background-color: #6b8cff;
  font-family: "SMB NES", Arial, sans-serif;
  color: #ffffff;
  font-size: 24px;
}

/* SECTIONS */

header {
  display: flex;
  margin: 16px;
}

#game-container {
  display: flex;
  margin: 80px auto 0 auto;
  height: 352px;
  width: 704px;
  background-image: url("../images/smt-game-container.png");
}

#cta {
  display: flex;
  justify-content: center;
  margin: 40px 16px;
  animation-name: cta-changing-colors;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

footer {
  position: absolute;
  bottom: 0;
  height: 64px;
  width: 100%;
  background-image: url("../images/smt-block.png");
}

/* SUBSECTIONS */

#question-tracker {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#question-info {
  display: flex;
}

#time-tracker {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-end;
}

/* SPRITES */

.flagpole {
  position: absolute;
  bottom: 64px;
  right: 5%;
}

#mario {
  position: absolute;
}

.cloud {
  position: absolute;
  z-index: -1;
  left: -192px;
  animation-name: clouds-moving-right;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#cloud1 {
  top: 10%;
  animation-delay: -4s;
}

#cloud2 {
  top: 35%;
}

#cloud3 {
  top: 60%;
  animation-delay: -8s;
}

/* STATE */

.hidden {
  display: none;
}

.mario-1 {
  bottom: 64px;
  left: 5%;
}

.mario-2 {
  bottom: 64px;
  left: 21%;
}

.mario-3 {
  bottom: 64px;
  left: 39%;
}

.mario-4 {
  bottom: 64px;
  right: 39%;
}

.mario-5 {
  bottom: 64px;
  right: 21%;
}

/* ANIMATIONS */

@keyframes clouds-moving-right {
  0% {
    left: -192px;
  }
  100% {
    left: 100%;
  }
}

@keyframes cta-changing-colors {
  0% {
    color: #ffffff;
  }
  50% {
    color: #ffccc5;
  }
  100% {
    color: #ffffff;
  }
}
